<template>
    <div class="h-screen w-full gradient">
        <div class="h-screen flex flex-col lg:flex-row lg:justify-between items-center lg:items-start max-w-container mx-auto px-3 lg:px-0 pt-10">
            <img :src="portrait" alt="Tucker" class="shadow rounded-md w-h-portrait mb-6">
            <div class="w-full flex flex-col justify-between h-badge max-w-lg">
                <div class="bg-portrait-white rounded-md shadow flex flex-col py-3 mb-6 lg:mb-0 items-center">
                    <h1 class="text-3xl pb-2">Tucker Steelman</h1>
                    <h2 class="text-xl italic font-thin pb-2">{{ badge.title }}</h2>
                    <p class="text-sm font-thin">{{ badge.tag }}</p>
                </div>
                <ul class="bg-portrait-white rounded-md shadow">
                    <li v-for="field in contact" :key="field.label" class="px-4 py-3 cursor-pointer hover:bg-gray-400 transition duration-200">
                        <div class="flex justify-between">
                            <span class="hidden xs:block italic font-bold">{{ field.label }}</span>
                            <span><a :href="field.link">{{ field.value }}</a></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

import portrait from '@/assets/images/portrait.jpg'

export default {
    name: 'ProfilePage',

    data () {
        return {
            portrait
        }
    },

    computed: mapState('profile', {
        badge: 'badge',
        contact: 'contact'
    })
}
</script>

<style lang="postcss" scoped>
    .gradient {
        background: linear-gradient(0deg,#fff,#a4c4ed) no-repeat 10% fixed;
    }

    .max-w-container {
        max-width: 53rem;
    }

    .w-h-portrait {
        width: 19rem;
        height: 19rem;
    }

    @screen lg {
        .h-badge {
            height: 19rem;
        }
    }
</style>
